* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  padding: 2% 5%;
}

textarea {
  width: 100%;
  height: 50%;
  min-height: 100px;
  padding: 2ch;
}

small {
  font-size: 75%;
  position: absolute;
  bottom: 1ch;
  left: 1ch;
}

strong {
  transition: all 1s;
}

.highlight {
  background: yellowgreen;
  transition: all 0.2s;
}